// variable & functions
@import "functions";
@import "variables";

// Base & layouts
@import "base";
@import "breakpoint";
@import "grid";

// colors
@import "colors";

// components (buttons,card,navbar etc)
@import "components/card";
@import "components/button";

//utilities (margin,padding,opacity etc)
@import "utilities";

/* remove me later */
span {
  border: 2px solid;
  border-radius: 10px;
  padding: 5px;
}
/* remove me later */
